<p style="color: green"><%= notice %></p>
<h1>Events</h1>
<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>
<%= turbo_frame_tag id="nested-form" do %>
  <div>Something</div>
<% end %>
<%= link_to "New event", new_event_path %>
